<div class="header">
	<div class="row">

		<div class="logo-container col-xs-12">
			<div class="row">
				<div class="logo col-md-4">
					<div class="row text-center">
						<div class="col-xs-2 logoImg">
						<a href="index.html"><img src="view1/images/HicoLogo.gif" alt=""/></a>
						</div>

						<div class="col-xs-10 company">
						<a href="index.html"><span>HICO</span>
						<hr/>
						<p>Helium &amp; Balloons</p>
						</a>
						</div>
					</div>
				</div>

				<div class="moto-container col-md-4 text-center">
					<span id="moto">Where Quality Meets the Sky!</span>
					<hr/>
					<span>Excellence in service since 1992.</span>
				</div>

				<div class="contact-info text-center pull-right">
					<div class="pull-left">
	              		<span>2642 Andjon Drive <br /> Dallas, TX 75220</span><br />
	              	</div>
	              	<div class="pull-right">
						<span class="icon fa fa-phone-square"> (214) 351-4426</span><br />
		              	<span class="icon fa fa-fax"> (214) 351-4416</span><br />
		              	<span class="icon fa fa-envelope"> <a href="mailto:sales@hicodallas.com">sales@hicodallas.com</a></span>
					</div>
				</div>
			</div>
		</div>

		<div class="navbar-container col-xs-12">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#" ng-click="goTo('home')">Home</a></li>
			      <li><a href="" ng-click="goTo('view2')">Helium</a></li>
			      <li><a href="" ng-click="goTo('view2')">Latex Balloons</a></li>
			      <li><a href="#">Foil Balloons</a></li>
			      <li><a href="#">Seasonal Balloons</a></li>
			      <li><a href="#">Accessories</a></li>
			      <li><a href="#">Auto Dealers</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>

	</div>
</div>